# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Ignore vscode
.vscode/

# Ignore config file
GoPipeline.config.yaml
GoPipeline.config2.yaml
GoPipeline.localconfig.yaml
GoPipeline.distconfig.yaml
GoPipeline.distconfig1.yaml
GoPipeline.distconfig10.yaml
GoPipeline.distconfig15.yaml
GoPipeline.distconfig20.yaml
GoPipeline.distconfig25.yaml
GoPipeline.distconfig5.yaml

# Ignore built commands
runmaster

# Ignore logFile
logFile
